/* Large + Extra large */
@media only screen and (min-width: 992px) {
  .separator-hr {
    display: none;
  }
}

/* Large */
@media only screen and (max-width: 1200) {

}

/* Medium */
@media only screen and (max-width: 992px) {
  .dl-share {
    display: none;
  }

  .hidden-md {
    visibility: visible;
  }

  .cv-title {
    text-align: center;
  }

  .year {
    text-align: left;
  }

  .icon {
    font-size: 25px;
    margin: 5px;
    flex:1;
  }
  .icon-description {
    flex: 7;
  }
}
/* Small */
@media only screen and (max-width: 768px) {
  body {
    padding-bottom: 10px;
  }
  .container {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .propic {
    width: 50%;
    border-radius: 50%;
  }

  h1 {
    margin-top: 20px;
  }
  .social-links {
    text-align:center;
  }
  .separator-hr {
    visibility: visible;
  }
  .year,
  .mobmid {
    text-align: center;
  }
  .skill-listing {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .icon {
    flex: 2;
    text-align: right;
    margin-right: 30px;
  }
  .icon-description {
    flex: 5;
  }


}

/* Extra small */
@media only screen and (max-width: 576px) {
  .container {
    padding: 20px;
  }
  h1 {
    margin-top: 20px;
    font-size: 28px;
  }
  /*.list-unstyled li {
    border-bottom: 1px solid #efefef;
    padding: 15px 0;
  }*/
  .firsthr {
    visibility: hidden;
  }
  .secicon.fa {
    margin: 10px 0;
  }


}
