body {
    background: #f4f4f4;
    color: #757575;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 60px;
}

.container {
    background: #fff;
    padding: 70px 75px;
    margin: 50px auto;
    border: 1px solid #a5d4fc;
}

img {
    max-width: 100%
}

.propic {
    border-radius: 10px;
}

hr {
    margin: 40px 0;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
    text-transform: uppercase;
    color: #000;
    margin: 0;
}

h2 {
    font-size: 1.3em;
    background: #fcfcfc;
    padding: 10px;
}

h3 {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #000;
    margin-top: 0;
}

h4 {
    margin: 15px 0 0;
}

p,
a {
    line-height: 1.7em;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 16px;
}

li {
    padding: 7px 0;
}

.dl-share .btn {
    min-width: 120px;
}

.social {
    margin-right: 7px;
}

.btn .fa {
    margin-right: 10px;
}

.secicon.fa {
    font-size: 28px;
    color: #000;
    margin-right: 10px;
}

.education-degree,
.job-title,
.award-name {
  font-size: 18px;
  font-weight: 700;
}

.education-institution,
.job-employer,
.award-sponsor {
    margin-bottom: 15px;
}

.job-year {
    text-align: right;
}

.award {
    padding-top: 20px;
}

.mainleft {
    padding-right: 30px;
}

footer p,
footer a {
    font-size: 13px;
}

.skill-listing {
  margin: 10px 5px;
  height: 30px;
  display: flex;
  align-items: center;
}
.icon {
  font-size: 25px;
  margin: 5px;
  flex:2;
}

.icon-description {
  flex: 5;
}

/* CUSTOM ICONS */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?odix2r');
  src:  url('fonts/icomoon.eot?odix2r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?odix2r') format('truetype'),
    url('fonts/icomoon.woff?odix2r') format('woff'),
    url('fonts/icomoon.svg?odix2r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-icomoon"], [class*=" icon-icomoon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icomoon-rstudio .path1:before {
  content: "\e900";
  color: rgb(78, 78, 78);
}
.icon-icomoon-rstudio .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icomoon-r:before {
  content: "\e902";
}
